doctype html 
html 
    head 
        title Thanushree Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar 
            ul 
                div#logo 
                    img(src="/static/logo.jpg")
                    | TDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Services]
                
        block content 
        foot#footer
            | Copyright &copy; 2022 ThanushreeDanceAcademy.com | All Rights Reserved
